{% extends "index.html" %}

{% block content %}
	
	

<div style="height: 600px; overflow: auto;">
<table border="1" style="margin: 20px;" cellpadding=10px> 

     <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Priority</th>
      <th>Data</th>
      <th>Remove</th>
     </tr>

   <tbody>
   
    
    {% for purchase in purchases %}
     <tr>
		<td>{{purchase|getTitle}}</td>
		<td><pre>{{purchase|getDescription}}</pre></td>
		<td>{{purchase|getPriority}}</td>
		<td>{{purchase|getData}}</td>
		<td><a href={{purchase|remove_link}}>remove</a>
	</tr>
	{% endfor %}

    </tbody>
</table>

</div>

{% endblock %}